#code {
    font-family: Source Code Variable, Fira Code, Consolas, "微软雅黑";
    font-size: 14px;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata, .token.punctuation, .token.tag, .token.attr-name, .token.namespace, .token.deleted, .token.function-name, .token.boolean, .token.number, .token.function, .token.property, .token.class-name, .token.constant, .token.symbol, .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin, .token.string, .token.char, .token.attr-value, .token.regex, .token.variable, .token.operator, .token.entity, .token.url {
    color: black;
}