* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Source Code Variable, Fira Code, Consolas, '微软雅黑';
    font-size: 14px;
    font: black;
}

body {
    height: 100vh;
}

.token.property,
.token.selector,
.token.punctuation,
.token.function {
    color: black;
    font-weight: normal;
}

@keyframes breath {
    0% {
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 3rem rgba(255, 255, 255, 0.8);
    }
}

#code:hover {
    animation-play-state: paused;
}

#paper > .content {
    padding: 1rem;
}
